@using Microsoft.AspNetCore.Http
@using Dos4PeopleApp.Utility
@using Dos4PeopleApp.Models
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en" class="loading" data-textdirection="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>@ViewData["Title"] - Dos4PeopleApp</title>
    <link rel="icon" type="image/x-icon" href="~/Content/Images/favicon.jpeg">
    <link href="~/Content/Theme/app-assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />



    <!-- BEGIN: Vendor CSS-->
    <link href="~/Content/Theme/app-assets/vendors/css/vendors.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/extensions/unslider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/weather-icons/climacons.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/fonts/meteocons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/forms/toggle/switchery.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/forms/selects/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/tables/extensions/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css">
    <link href="~/Content/Theme/app-assets/css/jquery-ui.css" rel="stylesheet" />
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/components.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/pages/timeline.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/plugins/forms/switch.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/plugins/forms/extended/form-extended.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/assets/css/style.css">
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/select.dataTables.min.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/toastr/css/toastr.min.css" rel="stylesheet" />


    <script src="~/Content/Theme/app-assets/js/core/libraries/jquery.min.js"></script>
    <script src="~/Content/Theme/app-assets/vendors/js/ui/jquery-ui.min.js"></script>
    <script src="~/toastr/js/toastr.min.js"></script>
</head>
<body class="vertical-layout vertical-menu 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns">
    @{ var user = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VmUser>("VmUser"); }
    @if (user != null)
    {

        <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row">
                        <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#"><i class="ft-menu font-large-1"></i></a></li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="/Dashboard">
                                <img class="brand-logo img-responsive" alt="Site logo" style="height: auto; width:60px" src="~/Content/Images/Logo.png">
                                @*<h2 class="brand-text">DOS</h2>*@
                            </a>
                        </li>
                        <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>

                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#"><i class="ft-menu"></i></a></li>

                            <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                        </ul>
                        <ul class="nav navbar-nav float-right">
                            <li class="dropdown dropdown-notification nav-item">
                                <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-bell"></i><span class="badge badge-pill badge-danger badge-up"><label id="lblNumberOfMessage"></label></span></a>
                                <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                    <li class="dropdown-menu-header">
                                        <h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span><span class="notification-tag badge badge-danger float-right m-0"><label id="lblSubNumberOfMessage"></label></span></h6>
                                    </li>
                                    <li class="scrollable-container media-list ps">
                                        <div id="ChatHistory">
                                        </div>
                                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                                    </li>
                                    @if (user.UserName == "mdosadmin")
                                    {
                                        <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="/AdminIndividualChat">Read all notifications</a></li>
                                    }
                                    else
                                    {
                                        <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="/UserIndividualChat">Read all notifications</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="dropdown dropdown-user nav-item">
                                <a class="dropdown-toggle nav-link dropdown-user-link pt-1" href="#" data-toggle="dropdown"><i class="fa fa-user"></i>@user.UserName</a>
                                <div class="dropdown-menu dropdown-menu-right">

                                    <a class="dropdown-item" href="/ChangePassword">
                                        <i class="ft-check-square"></i> Change Password
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" id="lblLogout">
                                        <i class="ft-power"></i> Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="main-menu menu-fixed menu-light menu-accordion" data-scroll-to-active="true" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <div class="main-menu-content ps ps--active-y">
                <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                    <li class=" navigation-header">
                        <span>Menu</span><i class=" ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Mwnu"></i>
                    </li>

                    <li class=" nav-item">
                        <a href="/Dashboard"><i class="ft-mail"></i><span class="menu-title" data-i18n="">Summary</span></a>
                    </li>
                    @if (user.UserName == "mdosadmin")
                    {
                        <li class=" nav-item">
                            <a href="#"><i class="ft-mail"></i><span class="menu-title" data-i18n="">Admin</span></a>
                            <ul class="menu-content">
                                <li>@Html.ActionLink("Process Daily Income", "Index", "GenerateDailyTaskIncome")</li>
                                <li>@Html.ActionLink("Package Setup", "Index", "Package")</li>
                                <li>@Html.ActionLink("Package Approval", "Index", "PackageApproval")</li>
                                <li>@Html.ActionLink("Withdrawal Approval", "Index", "WithdrawalApproval")</li>
                            </ul>
                        </li>
                    }
                    <li class=" nav-item">
                        <a href="/Dashboard"><i class="ft-mail"></i><span class="menu-title" data-i18n="">Earn</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="/Dashboard"><i class="ft-mail"></i><span class="menu-title" data-i18n="">Deposit</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="/Plan"><i class="ft-mail"></i><span class="menu-title" data-i18n="">Upgrade</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="/Dashboard"><i class="ft-mail"></i><span class="menu-title" data-i18n="">Voucher Codes</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="ft-mail"></i><span class="menu-title" data-i18n="">Referral</span></a>
                        <ul class="menu-content">
                            <li>@Html.ActionLink("Direct Referral", "Index", "MemberList")</li>
                        </ul>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="ft-mail"></i><span class="menu-title" data-i18n="">Money</span></a>
                        <ul class="menu-content">
                            <li>@Html.ActionLink("Withdraw", "Index", "Withdrawal")</li>
                        </ul>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="ft-mail"></i><span class="menu-title" data-i18n="">Chat</span></a>
                        <ul class="menu-content">
                            @if (user.UserName == "mdosadmin")
                            {
                                <li>@Html.ActionLink("Chat to Client", "Index", "AdminIndividualChat")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Chat to DOS4people", "Index", "UserIndividualChat")</li>
                            }

                        </ul>
                    </li>

                    <li class=" nav-item">
                        <a href="/Dashboard"><i class="ft-mail"></i><span class="menu-title" data-i18n="">People</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="/Dashboard"><i class="ft-mail"></i><span class="menu-title" data-i18n="">Statistics</span></a>
                    </li>

                </ul>
                <div class="ps__rail-x" style="left: 0px; bottom: -48px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 48px; height: 256px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 6px; height: 36px;"></div></div>
            </div>
        </div>}
    @{var content = user != null ? "content" : "";}
    <div class="app-content @content">
        <main role="main">
            @RenderBody()
        </main>

    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Dos4PeopleApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@



    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- BEGIN: Vendor JS-->
    <script src="~/Content/Theme/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Content/Theme/app-assets/js/core/app-menu.js"></script>
    <script src="~/Content/Theme/app-assets/js/core/app.js"></script>
    <script src="~/Content/Theme/app-assets/vendors/js/extensions/unslider-min.js"></script>
    <script src="~/Content/Theme/app-assets/vendors/js/timeline/horizontal-timeline.js"></script>
    <script src="~/Content/Theme/app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"></script>
    <script src="~/Content/Theme/app-assets/vendors/js/forms/toggle/switchery.min.js"></script>
    <script src="~/Content/Theme/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <!-- BEGIN: Page JS-->
    @*<script src="~/Content/Theme/app-assets/vendors/js/forms/extended/typeahead/typeahead.bundle.min.js"></script>
        <script src="~/Content/Theme/app-assets/vendors/js/forms/extended/typeahead/handlebars.js"></script>*@
    @*<script src="~/Content/Theme/app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>*@

    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Content/Theme/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    @*<script src="~/Content/Theme/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>*@
    <script src="~/Content/Theme/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js"></script>
    <script src="~/Content/Theme/app-assets/vendors/js/tables/datatable/buttons.bootstrap4.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/FancyBox/jquery.fancybox.js"></script>
    <script src="~/Scripts/FancyBox/jquery.fancybox.pack.js"></script>
    <script src="~/Content/Theme/app-assets/js/scripts/forms/switch.js"></script>
    <script src="~/Content/Theme/app-assets/js/scripts/forms/select/form-select2.js"></script>
    <script src="~/Content/Theme/app-assets/js/scripts/extensions/block-ui.js"></script>
    <script src="~/Scripts/dataTables.select.min.js"></script>
    <script src="~/Content/Theme/app-assets/js/scripts/tables/datatables-extensions/datatable-select.js"></script>
    <script src="~/Content/Theme/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js"></script>
    <script src="~/Content/Theme/app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js"></script>

    <script src="~/Content/Theme/app-assets/vendors/js/ui/jquery-ui.min.js"></script>


    @*<script src="~/Content/Theme/app-assets/vendors/js/forms/extended/typeahead/bloodhound.min.js"></script>*@

    <script src="~/Application_Scripts/Login.js"></script>

    <!-- END: Theme JS-->
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ajaxStart(function () {
            $.blockUI({
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            })
        })
        $(document).ajaxComplete(function () {
            $.unblockUI()
        });

    </script>

</body>
</html>
